body{
  background-color: rgb(0, 0, 0,0.92);  
  font-family: "Lato", sans-serif;
  color: #ffff;
  margin: 0;
  padding: 20px 80px;
  box-sizing: border-box;
  height: 100%;
  margin: 0;


}


::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255, 0.4); /* Cor do indicador */
  border-radius: 5px; /* Raio do indicador */
}